
*{
  font-family: "Noto Sans KR", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;  
  color: #323232;
}


a{
  text-decoration: none;
  color: #323232
}

body{
  margin: 0;
}

li{
  list-style: none;
}

header{
  width: 100%;
  height: 4.5rem;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;
}

header > .header{
  width: 970px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  
}

header > .header > .header_left{
  display: flex;
  align-items: center;
}

header > .header > .header_left > ul{
  display: flex;
  align-items: center;
  padding: 0;
}

header > .header > .header_left > ul > li{
  margin-right: 20px;
}

header > .header > .header_left > ul > li:nth-of-type(1){
  width: 80px;
}

header > .header > .header_left > ul > li > a > img{
  display: flex;
  align-items: center;
  width: 100%;
}


header > .header > .header_searchbar{
  width: 17rem;
  display: flex;
  align-items: center;

}

header > .header > .header_searchbar > .searchbar_inner{
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding:0 12px;
  border-radius: 6px;
}


header > .header > .header_searchbar > .searchbar_inner > p{
  cursor: pointer;
  margin-right: 5px;
}
header > .header > .header_searchbar > .searchbar_inner > input{
  height: 1rem;
  border: none;
  background-color: #f2f2f2;
  font-size: 0.8rem;
  outline: none;
  width: 100%; 
}

header > .header > .header_right {
  display: flex;
  align-items: center;
}

header > .header > .header_right > ul{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}


header > .header > .header_right > ul > li{
  margin-left: 20px;
  display: flex;
  align-items: center;
}

header > .header > .header_right > ul > li > a{
  font-size: 14px;
}

header > .header > .header_right > ul > li > button{
  width: 5rem;
  color: white;
  font-size: 14px;
  padding: 10px;
  border: none;
  background-color: #00c7ae;
  border-radius: 6px;
  cursor: pointer;
}

header > .header > .header_right > ul > li > button:hover{
  transition: background-color .5s ease;
  background-color: #00a18d;
}

.header_list{
  position: absolute;
  width: 272px;
  top: 60px;
  right: 758px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 10px 5px rgba(194, 194, 194, 0.178);
  margin-top: 6px;
  border-radius: 6px;
  display: none;
}

.header_list_height{
  height: 248px;
  overflow: scroll;
  overflow-x: hidden;
}

.header_list_tab > ul {
  display: flex;
  margin: 0;
  padding: 12px 0;
  justify-content: space-around;
  border-bottom: 1px solid #f2f2f2;
}

.header_list_tab > ul > li > span{
  font-size: 14px;
  color: #b5b5b5;
  cursor: pointer;
  font-weight: 400;
}


.header_recently_search{
  display: none;
  align-items: center;
  width: 100%;
  height: 180px;
  justify-content: center;
}

.header_recently_search > span{
  font-size: 14px;
  font-weight: 400;
  color: #b5b5b5;
}

.colored {
  color: #00c7ae !important;
}

.header_list_content > ul{
  padding: 0;
  margin: 0;
}

.header_list_content > ul > li{
  padding: 12px 16px;
}

.header_list_content > ul > li:hover{
  background-color: #fafafa;
}

.header_list_content > ul > li > a{
  font-size: 14px;
  color: #323232;
  font-weight: 400;
}

.header_list_close{
  padding: 12px 16px;
  border-top: 1px solid #f2f2f2;
  text-align: right;
}

.header_list_close > span{
  font-size: 14px;
  cursor: pointer;
  color: #737373;
}

.outline{
  background-color: white !important;
  border: 1px solid  #00c7ae;
}

.opened{
  display: block;
}